@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor;


<h1>Cadastro de novo Barometro</h1>
<h1>Conteudo da Sessao:@httpContextAccessor.HttpContext.Session.GetString("usuario")</h1>
<form method="post" action="\Barometro\gravar">


    <label for="PRESSURE">Pressão</label>
    <input type="text" name="Barometro.PRESSURE" id="PRESSURE" />
    @Html.ValidationMessage("Barometro.PRESSURE")
    @Html.ValidationMessage("errovalor")
    <br />
    <label for="ALTITUDE">Altitude</label>
    <input type="text" name="Barometro.ALTITUDE" id="ALTITUDE" />
    @Html.ValidationMessage("Barometro.ALTITUDE")
    <br />
    <label for="HUMIDITY">Humidade</label>
    <input type="text" name="Barometro.HUMIDITY" id="HUMIDITY" />
     <br />
    <label for="DATE">Data</label>
    <input type="text" name="Barometro.DATE" id="DATE" />
     <br />
    <label for="TEMPid">TEMP</label>
    <select id="TEMPid" name="Barometro.TEMPId">
        @{
            foreach (var TEMP in ViewBag.TEMPs)
            {
                <option value="@TEMP.Id">@TEMP.PRESSURE</option>
            }
        }
    </select>
    <br />
    <input type="submit" value="Gravar Barometro" />
</form>

@section Scripts{
    <script src="#"></script>
}

@section rodape{
    <footer>Rodape</footer>
}